<div class="d-flex">
  <div class="p-1 mx-3"><%= link_to "すべて", posts_path %></div>
  <div class="p-1 mx-3"><%= link_to "フォロー中", followings_posts_path %></div>
  <div class="p-1 mx-3"><%= link_to "いいね", favorite_posts_path %></div>
</div>

<h1>すべての投稿</h1>
<div class="favorite_btn">
  <%= render "index", posts: @posts %>
</div>