<div class="d-flex">
  <div class="p-1 mx-3"><%= link_to "すべて", posts_path %></div>
  <div class="p-1 mx-3"><%= link_to "フォロー中", followings_posts_path %></div>
  <div class="p-1 mx-3"><%= link_to "いいね", favorite_posts_path %></div>
</div>

<h1>フォローしているユーザーの投稿</h1>

<%= render "public/posts/index", posts: @posts %>