<h1 class="text-center m-4 font-weight-bold">「とりぷら！」へようこそ！</h1>
<h4 class="text-center m-4">
  飲食店や観光地、宿泊施設の情報を共有し合い、<br>
  気に入った投稿をカレンダーに追加することで<br>
  効率的に計画を立てることができる、<br>
  外出・旅行特化のスケジュール×SNSアプリです
</h4>
<div class="btn d-flex justify-content-center my-4"><%= link_to '戻る', "javascript:history.back()", class: "btn btn-secondary", data: { turbolinks: false } %></div>