<h1 class="my-4">特徴ジャンル作成</h1>
<%= form_with model: @feature_genre, url: admin_feature_genres_path do |f| %>
  
  <div class="m-3">
    <h4>特徴ジャンル名</h4>
    <%= f.text_field :name %>
  </div>
  
  <div class="my-4">
    <%= f.submit "作成" %>
  </div>

<% end %>
